The last <a href="http://www.jroller.com/cz/entry/craftsmann_s_guide_to_swing3">blog</a>
introduced the concept of JGoodies Binding with the chain from domain model, value model and JComponent specifc view adapter.
The examples shown so far used the BasicComponentFactory as convinient way to directly 
create bounded Swing components. This Blog will show you how to handle the most common 
binding cases using either the BasicComponentFactory or explicitly creating the binding chain.
All examples are based on this <a href="http://www.jroller.com/cz/resource/DomainModel.java">domain model</a>.

<h4>Check- and Radiobuttons</h4>
<p>
Check- and Radiobuttons are a standard way to offer selection for <it>on/off</it> and <it>one from many</it> cases.
Both cases are supported by the BasicComponentFactory:
<pre>
ValueModel vm = new PropertyAdapter( model, "on", true );
JCheckBox checkBox = BasicComponentFactory.createCheckBox( vm, "binding to boolean value" );

vm = new PropertyAdapter( model, "oneFromThree", true );
JRadioButton radioButton = BasicComponentFactory.createRadioButton( vm, "A", " possibility A" );
radioButton = BasicComponentFactory.createRadioButton( vm, "B", " possibility B" );
</pre>
For the radio button you have to provide a value (A and B in the example). When this value is matched by the 
bound property the button is selecteda and is used when a user selects the button.

<h4>Selection in JComboBox and JList</h4>
<p>
JList and JComboBoxes are typically used to select one item out of a collection. Therefore they handle 
two variables, one contains the possibilities to select from, one contains the selected item(s).
In most cases you know the possible items to choose from in advance and could use simple solution using the 
SelectionInList class. For the JComboBox this requires 3 three lines of code, the same ways is available for 
JLists.
<pre>
ValueModel vm = bena.getValueModel( "selectionInPossibilities" );
SelectionInList selection = new SelectionInList( DomainModel.THREE_POSSIBILITIES, vm );
JComboBox box = BasicComponentFactory.createComboBox( selection );
</pre>
</p>

<h4>JSpinner</h4>
<p>
The JSpinner is pretty similar to a JComboBox, it offers to select one out of many possible values.
Using the SpinnerAdapterFactory it is possible to bind it to your domain model. While the JSpinner itself 
is not restricted to certain value, the binding framework supports only Date and Number items.
Usually you provide the minimal, maximal and default value plus the number of steps alongside your value to
create a binding:

<pre>
ValueModel vm = ... ;// type of ValueModel (date, number) has to match created SpinnerModel !!!
SpinnerNumberModel spinnerModel =  SpinnerAdapterFactory.createNumberAdapter(vm, 42, 0,100, 2);
JSpinner levelSpinner = new JSpinner(spinnerModel);
</pre>

This creates a spinner for a range from 0 to 100, stepwidth 2 and the default value 42.


<h4>Changing Collections</h4>
<p>
Many domain models contain collection style attributes which vary over the time.
As discussed in the last blog, attributes have to be bound to work correct with any kind of binding. 
It is pretty simple to bind the collection style value itself in your domain model:

<pre>
public class DomainModel {
    private List collection;
	private PropertyChangeSupport chsngeSupport;
	
	public void setCollection( List collection ) {
		Object ov = this.collection;
		this.collection  = collection;
		firePropertyChange("collection", ov, collection);
	}
}	
</pre>

But in most cases one will not exchange the complete collection but simply add or remove items. As the standard collections
(ArrayList, HashSet, ...) do not fire an event in those cases, you find yourself modifiying the collection but as no 
event is fired no updates happen. If you have a closer look into the Swing APIs you find the ListModel interface, 
and JGoodies Binding contains the needed ArrayListModel implementation. This is a 1:1 replacement for the standard 
ArrayList with the added functionality to fire events when the model is changed. Of course you should not provide 
a setter any more to avoid replacing the complete list. The ArrayListModel could be used directly with the JList.
(If you need to support changing the list AND changing the list content have a look at the IndirectListModel).
<pre>
public class DomainModel {
    private final ListModel changingList = new ArrayListModel();
	
	  public ListModel getChangingList() {
        return changingList;
    }
}
...

JList list = new JList( domainModel.getChangingList());
</pre>

The same pattern applies for JComboBoxes and JList used to select an instance. By providing an ArrayListModel as 
variable to contain the possible values both the selection AND the objects to select from are bound variables and 
could change over the time.

<h4>Conclusion</h4>
<p>
This two blogs should cover most cases you need to bind Swing components to your domain model 
for business style applications. There are more things to detect in JGoodes Binding, e.g. binding of JTables 
or colour choosers, but based on this blog you'll find them pretty straight forward.
And off course the binding framework is not only restricted to bind your domain model to a Swing component, 
but could be used to bind any bean to another. The PropertyConnector just gets both beans and attribute names and you are done:

<pre>
DomainModel m1 = ...;
OtherModel m2 = ...;
PropertyConnector( m1, "attrName1", m2, "attrName2");
</pre>

</p>
<p>
JGoodies Binding to bind standard Java Beans to Swing components is a mature solution. Other solutions like the Beans Binding efforts are more or less stuck or depend on special annotations. <br>
Please keep three things in mind:
<ul>
<li>The Binding Framework does not care about threads. If you change your domain model outside AWT EDT you use the Swing components not as intended</li>
<li>The Binding Framework identifies the bean properties by their name. Mispelling them results in a runtime error</li>
<li>The ValueModel does not care about bean properties type. If you bind e.g. a List to a JComponent  which expects a String you get a runtime error</li>
</ul>
</p>

<p>

<a href="http://www.jroller.com/cz/entry/craftsmann_s_guide_to_swing">Content</a>
