According to the common Model View Controller (MVC) Pattern, applications with a GUI have three different parts:

<dl>
<dt>Model</dt>
<dd>This contains the data needed by the application. In SWING applications is usually 
a Java Bean or POJO. Called Domain Model in Binding Documentation</dd>
<dt>View</dt>
<dd>This contains all view components of the application like JTextFields, JList or JTables</dd>
<dt>Controller</dt>
<dd>This part contains the code implement the behaviour</dd>
</dl>

In most applications all parts are connected to form the typical triangle:
<p>
<center>
<img src="http://www.jroller.com/cz/resource/mvc.png">
</center>
</p>
<p>
In SWING application the model part is typically implemented using a Java Bean or POJO, the view part is implemented using the components provided by SWING or based on the SWING framework. But as of today there is no solution shipped with Java which is used to bind the model to the view and vice versa.
</p>
<p>
If you have a close look many application use a simple copy and paste solution, the data is copied 
from the bean into the SWING components and later on copied back from those into the bean (e.g. when a user presses the Save button). But this approach has it's limits, especially if the data has it's own life dictated by other source or you want to validate the user input. That's where a real <it>binding</it>
is needed, a solution to bind the Model and View components together and automatically update one if a change in the other occurs.
</p>
<p>
There is life outside the SWING world, e.g. the scripting language <a href="www.tcl.tk">Tcl/Tk</a>
knows a special <tt>bind</tt> command for nearly two decades, and so does JavaFX. But as of today 
 there is no solution available in the Java core language for the binding. There have been efforts under their way in JSR 295 Beans Binding to standardize such a binding. Unfortunately these efforts failed, the Beans Binding JSR did not come to an end (like the SWING Application Framework) and in the end multiple forks exists which try to create a usuble Beans Binding.
</p>
<p>
As with many real world problems in the SWING area you find a solution by Karsten Lentzsch, 
he offers the <a href="https://binding.dev.java.net/">JGoodies Binding</a> framework, a full featured solution to bind typicall SWING components like JTextFields, JComboBoxes etc. to models. 
</p>


<h4>JGoodies Binding</h4>
<p>
The JGoodies Binding is available from <a href="http://www.jgoodies.com/downloads/archive.html">JGoodies</a>, currently in version 2.0.6. In case you are still bound to Java 1.4.2 (yes, there a still such companies) you could use version 1.5 from <a href="http://www.jgoodies.com/downloads/archive.html">archive</a>.
</p>
<p>
The idea behind JGoodies Binding is that of an universal model access to the data found in the domain model. The universal model access is called a <it>Value Model</it>. On top of the Value Model are a number of view adaptors which are used to cast the Value Model into the appropriate form  to couple with a Swing component like a JTextField or JList. 
</p>
<center>
<img src="http://www.jroller.com/cz/resource/bindingChain.png">
</center>
<h4>Model Requirements</h4>
<p>
To keep the Model via the Value Model to the Swing component in synch, one needs to ensure that every change in the model is propagated to the  view layer and vice versa. Unlike simple POJOs this neccesitates <it>bound</it> properties in the data model. The difference between a simple Java Bean property and a bound property is, that a change to a bound property is signaled to every interested listener by firing a PropertyChangeEvent.
</p>

<p>
With the simple P(lain) O(ld) J(ava) O(bject) approach, a typical model is implemented like the following Bean

<pre>
public class Customer {

    private String name;
   
    public String getName() {
        return name;
    }
   
    public void setName(String name) {
        this.name = name;
    }
}
</pre> 


</p>
<p>
But for binding other components need to follow changes in to attributes. According to the Java Beans this is achieved by bounded values, which fire an PropertyChangeEvent to interested listeners. This necessitates a bean implementation like this:
<pre>
public class Customer {
    private final ExtendedPropertyChangeSupport propChangeSupport = 
                  new ExtendedPropertyChangeSupport(this);

    private String name;
   
    // methods needed to add, remove listeners
    public void addPropertyChangeListener(PropertyChangeListener listener) {
        propChangeSupport.addPropertyChangeListener( listener);
    }
    public void removePropertyChangeListener(PropertyChangeListener listener) {
        propChangeSupport.removePropertyChangeListener(listener);
    }
    public void addPropertyChangeListener(String propertyName,
                                      PropertyChangeListener listener) {
        propChangeSupport.removePropertyChangeListener(propertyName, listener);
    }
    public void removePropertyChangeListener(String propertyName,
                                         PropertyChangeListener listener) {
        propChangeSupport.removePropertyChangeListener(propertyName, listener);
    }
   
    // getter as used
    public String getName() {
        return name;
    }

    // Setter fires a PropertyChangeEvent using the property change support
    public void setName(String name) {
        String oldValue = this.name;
        this.name = name;
        propChangeSupport.firePropertyChange("name", oldValue, name);
    }
}
</pre>
<p>
Every change to the name attribute in the bean triggers firing a PropertyChangeEvent. Implementing the creation of the PropertyChangeEvent and sending it to all registered PropertyChangeListeners is pretty simple, but in most cases simply use the existing implementation in com.jgoodies.binding.beans.ExtendedPropertyChangeSupport or java.beans.PropertyChangeSupport
 and delegate the task. All you need to do is to enhance your setters to keep the old value and call the property change support.
</p>

<h4>Simple Binding</h4>
<p>
Binding a Swing component to such a bound property is simple. As first step you create a ValueModel which encapsulates your Bean, then use the BasicComponentFactory to create an already bound Swing Component:

<pre>
ValueModel vm = new PropertyAdapter(cust, "name", true);
JTextField text =BasicComponentFactory.createTextField(vm);
</pre>

</p>
With just this two lines, you get a Swing component which is bound to your model property. Every time 
the model property changes, the contents of the JTextField is updated and vice vera. You do not have copy the value from bean to Swing back and forth, everything is handled automatically by the JGoodies Binding.
</p>
<p>
The ValueModel is the generic glue between a Java Bean Property and any kind of View Adapter.
There are two ways to create a Value Model in JGoodies Bindings. One way is to create the ValueModel directly using the PropertyAdapter. It gets the encapsulated bean and the name of the desired property
as input. In most cases you want to have bidirectional update support, so you add the additional 
true to the constructor:
<pre>
 ValueModel vm = new PropertyAdapter(cust, "name", true);
</pre>
When you use a wrong property name, you get an error at runtime, so real production code should
use static identifiers. Unlike template engines like JSP or <a href="http://www.freemarker.org/">Freemarker</a> the property name do not support chained identifiers !
</p>
<p>
If you use many properties from the same domain model, it could be usefull to use the BeanAdapeter.
This registers only on PropertyChangeListener instead one per adapted property:
<pre>
BeanAdapter bad = new BeanAdapter( cust);
ValueModel vm1 = bad.getValueModel("name");
ValueModel vm2 = bad.getValueModel("surname");
</pre>
</p>
<p>
There are several possibilities to connect the ValueModel to a Swing component. The most convinient 
way is to use the BasicComponentFactory. It has many convinience function to directly create an already bound JComponent. Typicall cases are :
<ul>
<li>Bind a JCheckBox to a boolean value</li>
<li>Bind a JTextField to an integer/long value</li>
<li>Bind a JLabel to a string value </li>
<li>Bind a JPasswordField to a string value</li>
<li>Bind a JTextField to a string value</li>
<li>...
</ul>
<p>
The next <a href="http://www.jroller.com/cz/entry/craftsmann_s_guide_to_swing4">Blog</a> demonstrates how to handle the more complex cases using JGoodies Binding like lists, comboboxes, attributes with differences between representation (e.g. String) and model type (e.g. java.util.Date).
</p>

<p>

<a href="http://www.jroller.com/cz/entry/craftsmann_s_guide_to_swing">Content</a>


