<p>
No matter whether your application will consist of multiple pages or a simple dialog style GUI, 
user interaction is typically done by one or more forms. Theses forms are made from several 
labels and active components like text fields, buttons or sliders. 
This is the primary interface your users are going to see and have to work with.
Given that the type and number off attributes to edit is already known, you have several task to be done BEFORE
you open your editor:
<ul>
<li>Decide the optimal form to display/edit the attribute. Do you better use a textfield, combobox or a slide ?</li>
<li>Decide whether to layout the elements onto one or more forms. If you have a large number of attributes, perhaps multiple forms are a better choice ?</li>
<li>Decide how to layout the elements on a form. Think about logical groups and avoid random sprinkles all over your form</li>
<li>Using a design grid for rows and columns helps a lot</li>
</ul>
</p>

<p>
As experience with mine and other people application tell me, don't do this alone unless you are a real user experience crack. 
It is typically better to show your sketches other colleagues. If you already have working code, then its typically to late, 
so please use either a sheet of paper for you first ideas. </p>
<p>If drawing does not match your style use GUI mock up tool like <a href="http://www.evolus.vn/Pencil/">Pencil</a>, but paper is typically faster. And please refrain from creating "art". The mantra off business style applications is to not 
surprise you users. Every label, every text field should have it's place just where a user expects it to be. Your form may look a bit boring, but this is better then user searching around for the right entries. And boring is not the same as ugly.
</p>
<p>
If you are in need for good examples have look at applications made by Apple or some GNOME application like <a href="http://projects.gnome.org/evolution/screenshots.shtml">Evolution</a>. A look at the 
<a href="http://developer.apple.com/mac/library/documentation/UserExperience/Conceptual/AppleHIGuidelines/XHIGIntro/XHIGIntro.html#//apple_ref/doc/uid/TP30000894-TP6">Apple Human Interface Guidelines</a> is usefull as well. 
</p>

<img src="http://www.jroller.com/cz/resource/guiSketch.png" >

<p>
After you and your colleagues and you are satisfied, DO NOT open your editor. Now take your sketch and draw the design grid into the sketch. Then decide the width/height, alignment and resize behaviour for the rows and columns.
</p>

<img src="http://www.jroller.com/cz/resource/guiGrid.png" >

<p>

<a href="http://www.jroller.com/cz/entry/craftsmann_s_guide_to_swing">Content</a>



