<p>
In the previous entry I presented the first steps in designing a typical business style form.
As result we had a sketch of the form with the entries and labels arranged in a grid:
<br>
<img src="http://www.jroller.com/cz/resource/guiGrid.png" >
</p>
<p>
If you have a look at the layouts available in SWING, there is only one candidate, which is more or less able 
to create such a GUI: the GridBagLayout. The GridBagLayout is very flexible and after long experience and even more
tinkering around you could create nearly every layout with it. BUT it takes a tremendous time and frustration tolerance to get there. As a start look at <a href="http://madbean.com/anim/totallygridbag/">Totally Gridbag</a>.
</p>
<p>
So please let me introduce Karsten Lentzsch's <a href="http://www.jgoodies.com/freeware/forms/index.html">JGoodies Forms</a>.
This layout framework offers all you need to create forms and button bars in time and with a superb quality.
With the form layout you define a design grid for rows and columns in terms of width/height, alignment and resizing behavior. The definition is done using a human readable description (or domain specific language to use that buzzword). After you defined that grid you place your components. It is even possible to override the global grid definition on a per component base.
<p>
<img src="http://www.jroller.com/cz/resource/form1.png" >
</p>
</p>
The complete code to create the form you designed using the JGoodies Form Layout is in the code snippet below:
<pre>
public JPanel createComponent() {

        FormLayout layout = new FormLayout(
                "4dlu,right:max(50dlu;pref), 4dlu, 75dlu:grow, 4dlu, pref,4dlu",
                "4dlu,pref,3dlu,pref,3dlu,pref,fill:4dlu:grow" ); // rows

        PanelBuilder builder = new PanelBuilder( layout );
        CellConstraints cc = new CellConstraints();

        int row = 2;
        JLabel label = new JLabel("Label 1:");
        builder.add( label, cc.xy( 2, row ) );

        JTextField field1 = new JTextField();
        builder.add( field1, cc.xyw( 4, row, 3 ) );

        row += 2;
        builder.addLabel( "Longer Label :", cc.xy( 2, row ) );

        JTextField field2 = new JTextField();
        builder.add( field2, cc.xyw( 4, row, 3 ) );

        row += 2;
        builder.addLabel( "Label 3:", cc.xy( 2, row ) );

        JTextField field3 = new JTextField();
        builder.add( field3, cc.xy( 4, row ) );

        JButton select = new JButton( "..." );
        builder.add( select, cc.xy( 6, row ) );

        return builder.getPanel();

    }
</pre>


<h4>Define the Layout</h4>
<p>
In the first lines you define the global grid of your form, in this case with the column specification 
<tt>4dlu,right:max(50dlu;pref), 4dlu, 75dlu:grow, 4dlu, pref,4dlu</tt>
and the row specification <tt>4dlu,pref,3dlu,pref,3dlu,pref,fill:4dlu:grow</tt>. 
<p>
Human readable ??
</p>
<p>
Yes, I think so, but just after some explanation. Each column and row is specified with a string separated from the next one using the comma (,). Each specification may have up to three parts which are separated using the colon (:), 
the alignment, the width and the resizing behavior. A definition like <tt>4dlu</tt> reads as 
<ul>
<li>no alignment specified (default to fill for columns, vertically center for rows)</li>
<li>width is 4dlu</li>
<li>no resizing</li>
</ul>

<p>
You may know pixels, centimeters and points, but dlu ? Using pixels or centimeters to define a size is possible in form layout as well, but they definitively have a drawback. A pixel is not a fixed size, as the resolution of the display varies. And most forms do contain a lot off text and the size of the text is defined e.g. in the systems preferences. What looks good on your screen will look pretty bad if someone uses a different font size. Therefore forms layout offers the <it>display unit</it> as unit to define fixed sizes. The display unit is calculated on the users computer based on his font size, so all widths defined in dlu are relatively to the users font. You may know this from the <tt>em</tt> size available in LaTeX and HTML. Therefore the first <tt>4dlu</tt> defines a column which has a width of 4 display units.
</p>
<p>
Fixed size defined in dlu or pixels are easy, but forms layout offers more. Using min or pref you could specify the size to be the minimum or preferred size of all components placed in that row or column. This is used to specify the height of all rows containing labels and entries.
</p>
<p>As you could see in the definition of the second column, there are even possibilities to have a bound on the resulting size. The column specification <tt>right:max(50dlu;pref)</tt> results in a width defined by the largest label, but using 50 dlu as upper bound. If your labels are longer, they are truncated and your layout is not corrupted.
</p>
<p>
Depending on your needs the size off the columns and rows may either be constant or uses additional space if the user
resizes the gui. This behaviour is given using the <tt>grow</tt> keyword, so in the example the width of the  entries
is enlarged with the size off the frame.
</p>
<p>
The user documentation of JGoodies Form Layout explains all these possibilities in depth, this article should be enough for a start.
</p>

<h4>Place the components</h4>
<p>
After you defined the FormLayout, there are two more layout specific lines in the example:
<pre>
 PanelBuilder builder = new PanelBuilder( layout );
 CellConstraints cc = new CellConstraints();
</pre>

With the first one you create a PanelBuilder which is more or less a convenience class used to minimize the code you type. 
The second one is an object you could use to define the cell in which you place a component. Existing components like the first label are simply added to the design grid using the cell location in x (column) and y (row). Both column and row count start with 1 !.</p>
<p>
The design grid has more columns as you expected, as the last line sports both a text entry and button. Therefore the first both entries have to span three columns. This is simply described using the xyw(idth) method of the CellConstraint.
</p>
<p>
As you could see with the second row, the builder already has a convinience method to create and place a label with one shot.
</p>
<p>
After you put all your components into the layout, you could asked the builder to return the created panel and you are done. 
<p>
There is of course much more available in forms layout than demonstrated in this small example. E.g. you could 
define groups of columns and rows which  always have the same width or height. Or you define special growing behavior where 
additional space is divided in an arbitrary ratio. And if you run into a problem, e.g. by placing 
components into the wrong cell or using an inappropriate layout description. Forms layout has already a simple help build in, the FormDebugPanel. Using 
<pre>
 PanelBuilder builder = new PanelBuilder( layout, new FormDebugPanel() );
</pre>
will give you red lines painted on your form so you could see your design grid.
<p>

<img src="http://www.jroller.com/cz/resource/form2.png" >

<h4>Résumé</h4>
<p>

Using Karsten Lentzsch's JGoodies Form Layout enables you to design forms in no term. The resulting
forms are independant off the screen solution (as long as you use dlu !) and resize like you like and not 
like You Know Who (GridBagLayout). An alternative to Form Layout is the <a href="http://www.miglayout.com/">MiG Layout</a>, 
but I never used it so far.







